<style>
  input {
  display: block;
}
</style>
<button (click)="showUsers()">Click here to get all the users.</button>

<ul>
  <li *ngFor='let user_for_li of users'>
    {{ user_for_li|json }}
    <button type="button" name="button" (click)="setUser(user_for_li)">Click me!</button>
  </li>
</ul>

User in app.component.ts - {{ user|json }} -
<form (ngSubmit)=submitForm()>
  first_name: <input type="text" name="something" [(ngModel)]="user.first_name">
  age: <input type="number" name="somethingelse" [(ngModel)]="user.age">
  <input type="submit" name="" value="Edit">
</form>
