<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<b><u>Submitted Info</u></b>
<ul>
	<li>Name:    <%= x.name %> </li><br>
	<li>Dojo Location:    <%= x.location %> </li><br>
	<li>Favorite Language:    <%= x.language %> </li><br>
	<li>Comment:   <%= x.comment %> </li><br>
</ul>
</body>
</html>