<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="/stylesheets/cars.css">
<body>
<h2>Cool Cars</h2>
<a href="/cars/1"><img id ='aa' src="images/blue.jpg"></a>
<a href="/cars/2"><img id ='ab' src="images/bmw.jpg"></a><br>
<a href="/cars/3"><img id ='ac' src="images/white.jpg"></a>
<a href="/cars/4"><img id ='ad' src="images/pos.jpg"></a>

</body>
</html>